*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.grid{
  display: grid;
}

label{
  font-size: 1.6rem;
}

.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}
